footer.footer
  .container.container-footer
    .footer-block
      p.footer__logo DREAMSHARE
      .footer__big-box
        p.footer__heading-box Company
        .footer__small-box.footer__small-box_between
          a.footer__link(href="#") About
          a.footer__link(href="#") Contact
          a.footer__link(href="#") Press
          a.footer__link(href="#") Blog 
        .footer__small-box
          a.footer__link(href="#") Terms and Privacy
          a.footer__link(href="#") Help
      .footer__big-box.footer__big-box_ml
        p.footer__heading-box.footer__heading-box_mb Partners
        .footer__small-box.footer__small-box_between
        .footer__small-box
      .footer__box-designed
        p.footer__box-designed-text DESIGNED BY
        .footer__box-logo
          img(src="./images/areto.png" alt="")
        