header.header
  .container
    nav.navbar
      p.navbar__logo DREAMSHARE
      .navbar__buttons-block
        p.navbar__buttons
          a.navbar__buttons-link(href='#') Log in
        p.navbar__buttons-border 
          a.navbar__buttons-link.navbar__buttons-link_active(href='#') Sign up
    .header__heading-box
      p.header__heading SHARE YOUR HOLIDAY DREAM
    .header__text-box
      p.header__text And find the perfect partner to fulfill it
    .header__buttons-box
      a.header__buttons-text(href='#') Find your holiday partner
